body {

    background: #4cfb3f;
    background: radial-gradient(circle,rgba(76, 251, 63, 1) 0%, rgba(252, 70, 107, 1) 100%);

}

h1 {

    color: red;

    text-align: center;

}
p {

  color: green;
}
#titulo {

   background-color: blue;

  color: white;

  padding: 10px;

}
.destacado {

  color: red;

  font-weight: bold;

}

